body{
    background-color: #E8E8E8;
}
.j_tbdr{
    border: 1px dashed red ;
}

header{
    min-height: 81px;
    width: 94%;
    margin: auto;
}
ul > li > a:hover{
    background-color: #EDEDED;
    cursor: pointer;
    
}
.j_menu > li:hover ul{
    display: block; /*Show*/
}
.j_submenu{
    width: 100px;
    display: none; /* Hide*/
}
main{
   padding-bottom: 100px;
}
.mt-5.j_mt-5{
    margin-top: 5rem!important;
}
footer{
   
}
.j_footer1{
    height: 112px;
}
.j_footer2{
    height: 1377px;
}
.j_footer3{
    height: 300px;
}
.j_footer4{
    height: 97px;
}
.j_tnr{
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: bold;
    color: #333 !important;
    opacity: 0.5 !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px;
       font-weight: bold;
       color: #333 !important;
       opacity: 0.5 !important;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px;
       font-weight: bold;
       color: #333 !important;
       opacity: 0.5 !important;
 }
 
 :-ms-input-placeholder {
       font-size: 15px;
       font-weight: bold;
       color: #333 !important;
       opacity: 0.5 !important;
 }

@media screen and (max-width: 576px){
    .j_form_col{
        height: 50px;
    }
    .j_mt-5{
        margin-top: 200px !important;
        padding-top: 40px;
    }
    footer{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1457px;
    }
}